<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta id='delta' name="delta" content='<%- delta %>'>
    <title>Document</title>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>

<body>

    <div id="editor">
    </div>
    <!-- Include the Quill library -->
    <div id="quill">
        <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    </div>

    <!-- Initialize Quill editor -->
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow'
        });
        let delta_content = document.getElementById('delta').content;
        console.log("Content: ",delta_content);
        quill.setContents(JSON.parse(delta_content));
        let rawHTML = quill.root.innerHTML;
        let body = document.getElementsByTagName('body')[0];
        body.innerHTML = rawHTML;
    </script>
</body>

</html>
